.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 93px;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__menu-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
}

.header_link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 135px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  gap: 2px;
  max-width: 240px;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-underline-offset: 3px;
  list-style: none;
}

.cover {
  position: relative;
  max-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 130px;
}

.aligned-text_left {
  text-align: left;
  
}

.aligned-text_center {
  margin-right: -0.3em;
  text-align: center;
}

.aligned-text_right {
  margin-right: -0.3em;
  text-align: right;
}

.cover__description {
   position: relative;
   z-index: 1;
  display: flex;
  justify-content: space-between;
   margin-top: 100px;
}

.cover__description-text {
  align-self: center;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: Regular;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 2px solid rgba(255, 255, 255, 1);
  padding: 12px 32px 11px 31px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 22px;
  font-style: Medium;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  white-space: nowrap;
}

.lots {
  margin: 180px 24px 0;
  padding: 0;
}

.lots__heading {
  padding: 0 891px 27px 40px;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card_type {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
  
}

.card__text {
  z-index: 1;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__look-more-link {
  display: inline-block;
  padding: 30px 820px 0 40px;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
}

.about {
  margin: 120px 24px 0;
  margin-top: 120px;
  padding: 35px 5px 47px 0;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 240px auto;
  grid-template-areas:
  'logo title'
  '. text';
  gap: 8px 25px;
}

.about__logo {
  display: flex;
  grid-area: logo;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: title;
  align-self: center;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  gap: 24px;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: Regular;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 136px;
  padding: 0 50px 82px;
}

.footer__address {
  align-self: flex-start;
}

.footer__address-list > li > a {
  line-height: 10px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: Regular;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
}
